RewriteEngine On

<Files .env>
    Order allow,deny
    Deny from all
</Files>

## Some pub lic
RewriteRule ^php/([A-Za-z0-9-]+)$ "resources/php/$1.php"

## User
RewriteRule ^client/login$ "index.php?module=client&action=login"
RewriteRule ^client/logout$ "index.php?module=client&action=logout"
RewriteRule ^client/register$ "index.php?module=client&action=register"