RewriteEngine On

<Files .env>
    Order allow,deny
    Deny from all
</Files>

## Some public
RewriteRule ^php/([A-Za-z0-9-]+)$ "resources/php/$1.php"

## User
RewriteRule ^client/login$ "index.php?module=client&action=login"
RewriteRule ^client/logout$ "index.php?module=client&action=logout"
RewriteRule ^client/register$ "index.php?module=client&action=register"
RewriteRule ^client/deposit$ "index.php?module=client&action=deposit"
RewriteRule ^client/puchased$ "index.php?module=client&action=puchased"
RewriteRule ^client/puchased-lol$ "index.php?module=client&action=puchased-lol"
RewriteRule ^client/check-puchased$ "index.php?module=client&action=check-puchased"
RewriteRule ^client/check-puchased-lol$ "index.php?module=client&action=check-puchased-lol"
RewriteRule ^client/shop$ "index.php?module=client&action=shop"
RewriteRule ^client/buy/([A-Za-z0-9-]+)$ "index.php?module=client&action=buy&id=$1"
## Admin
RewriteRule ^admin/home$ "index.php?module=admin&action=home"
RewriteRule ^admin/$ "index.php?module=admin&action=home"
RewriteRule ^admin/manage-deposit$ "index.php?module=admin&action=manage-deposit"
RewriteRule ^admin/manage-store$ "index.php?module=admin&action=manage-store"
RewriteRule ^admin/category-add$ "index.php?module=admin&action=category-add"
RewriteRule ^admin/product-add$ "index.php?module=admin&action=product-add"
RewriteRule ^admin/category-edit/([A-Za-z0-9-]+)$ "index.php?module=admin&action=category-edit&id=$1"
RewriteRule ^admin/product-edit/([A-Za-z0-9-]+)$ "index.php?module=admin&action=product-edit&id=$1"
RewriteRule ^admin/category-remove/([A-Za-z0-9-]+)$ "index.php?module=admin&action=category-remove&id=$1"
RewriteRule ^admin/product-remove/([A-Za-z0-9-]+)$ "index.php?module=admin&action=product-remove&id=$1"
RewriteRule ^admin/manage-item$ "index.php?module=admin&action=manage-item"
RewriteRule ^admin/manage-item-lol$ "index.php?module=admin&action=manage-item-lol"
RewriteRule ^admin/item-add$ "index.php?module=admin&action=item-add"
RewriteRule ^admin/item-edit/([A-Za-z0-9-]+)$ "index.php?module=admin&action=item-edit&id=$1"
RewriteRule ^admin/item-remove/([A-Za-z0-9-]+)$ "index.php?module=admin&action=item-remove&id=$1"
RewriteRule ^admin/manage-user$ "index.php?module=admin&action=manage-user"
RewriteRule ^admin/user-edit/([A-Za-z0-9-]+)$ "index.php?module=admin&action=user-edit&id=$1"
RewriteRule ^admin/user-remove/([A-Za-z0-9-]+)$ "index.php?module=admin&action=user-remove&id=$1"
RewriteRule ^admin/see-image-lol/([A-Za-z0-9-]+)$ "index.php?module=admin&action=see-image-lol&id=$1"
RewriteRule ^admin/lol-add$ "index.php?module=admin&action=lol-add"
RewriteRule ^admin/lol-remove/([A-Za-z0-9-]+)$ "index.php?module=admin&action=lol-remove&id=$1"
RewriteRule ^admin/lol-edit/([A-Za-z0-9-]+)$ "index.php?module=admin&action=lol-edit&id=$1"


## Set tạm thời khi không tìm thấy trang thì show 404 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* "resources/views/common/404.php"