.form-product-container {
    margin: 20px 0;
    padding: 10px;
    background-color: var(--color-1);
}

.form-product-container .title {
    font-size: var(--font-size-2);
    font-weight: bold;
}

.form-product-container table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.form-product-container td {
    padding: 10px;
    border: 1px solid var(--color-6);
    text-transform: capitalize;
}

.form-product-container th {
    padding: 10px;
    background-color: var(--color-3);
    color: var(--color-1);
}

.form-product-container button {
    outline: none;
    border: none;
}

.form-product-container button a {
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
}

.form-product-container button.success a {
    background-color: var(--color-4);
    color: var(--color-1);
}

.form-product-container button.failed a {
    background-color: var(--color-10);
    color: var(--color-1);
}

.form-product-container .tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-product-container .tools .add a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--color-9);
    color: var(--color-1);
}

.form-product-container .change-page {
    display: flex;
    justify-content: right;
    padding: 10px;
    gap: 1px;
}

.form-product-container .change-page input {
    width: 30px;
    text-align: center;
    background-color: var(--color-4);
    color: var(--color-1);
}

.form-product-container .change-page button {
    padding: 10px;
    cursor: pointer;
    background-color: var(--color-1);
    border: 1px solid var(--color-6);
}