* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

main {
    width: 100%;
}

main.home {
    background-color: var(--color-2);
    min-height: 800px;
    padding: 10px;
}

main.deposit {
    background-color: var(--color-2);
    min-height: 800px;
}

.enable {
    user-select: none;
    pointer-events: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex .find input {
    padding: 5px;
}

.change-page {
    display: flex;
    justify-content: right;
    padding: 10px;
    gap: 1px;
}

.change-page input {
    width: 30px;
    text-align: center;
    background-color: var(--color-4);
    color: var(--color-1);
}

.change-page input::-webkit-outer-spin-button,
.change-page input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.change-page div button {
    padding: 10px;
    cursor: pointer;
    background-color: var(--color-1);
    border: 1px solid var(--color-6);
    border-radius: unset;
}

.limit {
    margin-bottom: 10px;
}

.limit input::-webkit-outer-spin-button,
.limit input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.limit input {
    padding: 5px;
    width: 30px;
    text-align: center;
}