.list-image-container {
    padding: 10px;
    background-color: var(--color-1);
}

.list-image-container .title {
    font-size: var(--font-size-2);
    font-weight: bold;
    margin-bottom: 20px;
    margin: auto 0;
}

.list-image-container .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.list-image-container .buy button {
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--color-1);
    font-weight: bold;
    background-color: var(--color-12);
}

.list-image-container .list-image .list-image {
    width: 1000px;
    margin: 0 auto;
}

.list-image-container .list-image .list-image img {
    width: 100%;
}