.list-account-container {
    margin: 20px 0;
    padding: 10px;
    background-color: var(--color-1);
}

.list-account-container .title {
    font-size: var(--font-size-2);
    font-weight: bold;
    margin-bottom: 20px;
}

.list-account-container table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.list-account-container td {
    padding: 10px;
    border: 1px solid var(--color-6);
}

.list-account-container th {
    padding: 10px;
    background-color: var(--color-3);
    color: var(--color-1);
}

.list-account-container button {
    outline: none;
    border: none;
}

.list-account-container button a {
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-decoration: none;
}

.list-account-container button.success a {
    background-color: var(--color-4);
    color: var(--color-1);
}

.list-account-container button.failed {
    background-color: var(--color-10);
    color: var(--color-1);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}


.list-account-container .tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.list-account-container .tools .add {
    display: flex;
    gap: 10px;
    align-items: center;
}

.list-account-container .tools .add a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--color-9);
    color: var(--color-1);
}

@media only screen and (max-width:1024px) {
    .wrapper {
        overflow: scroll;
    }

    .list-account-container table {
        width: 1000px;
    }
}