.product-add-container {
    margin: 20px 0;
    padding: 10px;
    background-color: var(--color-1);
}

.product-add-container .title {
    font-size: var(--font-size-2);
    font-weight: bold;
    margin-bottom: 20px;
}

.product-add-container form.form-product-add button[type="submit"] {
    padding: 10px 15px;
    outline: none;
    border: none;
    background-color: var(--color-9);
    border-radius: 10px;
    color: var(--color-1);
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.product-add-container form.form-product-add .product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-add-container form.form-product-add .product label {
    font-weight: bold;
    margin-top: 10px;
}

.product-add-container form.form-product-add .product input,
.product-add-container form.form-product-add .product select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--color-6);
}