.banner-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.banner-container .banner {
    min-width: 450px;
}

.banner-container .banner .title {
    font-size: var(--font-size-1);
    text-transform: uppercase;
    padding: 20px;
    background-color: var(--color-3);
    color: var(--color-1);
    font-weight: bold;
}

.banner-container div.banner-left .product-recently,
.banner-container div.banner-right .deposit-recently {
    min-height: 500px;
    background-color: var(--color-1);
}

.banner-container .banner .order {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
}