.history-purchased-container {
    margin: 20px 0;
    padding: 10px;
    background-color: var(--color-1);
}

.history-purchased-container .title {
    font-size: var(--font-size-2);
    font-weight: bold;
    margin-bottom: 20px;
}

.history-purchased-container table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.history-purchased-container td {
    padding: 10px;
    border: 1px solid var(--color-6);
    text-transform: capitalize;
}

.history-purchased-container th {
    padding: 10px;
    background-color: var(--color-3);
    color: var(--color-1);
}

.history-purchased-container button {
    outline: none;
    border: none;
}

.history-purchased-container button.delete {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.history-purchased-container button a {
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 5px;
}

.history-purchased-container button.check a {
    background-color: var(--color-4);
    color: var(--color-1);
}

.history-purchased-container button.delete {
    background-color: var(--color-10);
    color: var(--color-1);
}

@media screen and (max-width: 740px) {
    .history-purchased-container {
        overflow: scroll;
    }

    .history-purchased-container table {
        width: 1000px;
    }
}

@media only screen and (min-width:740px) and (max-width:1024px) {
    .history-purchased-container {
        overflow: scroll;
    }

    .history-purchased-container table {
        width: 1000px;
    }
}