.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: linear-gradient(#001282, #001282, #6700FF);
    color: white;
    transition: all 0.5s ease-in-out;
    z-index: 100;
}

.sidebar-container.hidden {
    display: none;
}

.sidebar-container .shop-name {
    width: 50px;
}

.sidebar-container .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: var(--font-size-2);
    cursor: pointer;
}

.sidebar-container img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.sidebar-container .side-top {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    font-size: var(--font-size-2);
}

.sidebar-container .side {
    padding: 15px 15px 0;
    color: var(--color-6);
    font-size: var(--font-size-0);
    min-width: max-content;
}

.sidebar-container .side a,
.sidebar-container .side div.drop-down {
    color: var(--color-6);
    font-size: var(--font-size-0);
    text-decoration: none;
    display: flex;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    user-select: none;
}

.sidebar-container.hidden .side a {
    justify-content: center;
}

.sidebar-container .side .bottom {
    padding: 10px 0;
}

.sidebar-container .side .bottom .item .right {
    margin-left: auto;
}

.sidebar-container .side .bottom .item {
    border-radius: 10px;
    transition: 0.25s;
    min-width: max-content;
}

.sidebar-container .side .bottom .item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--color-2);
}

.sidebar-container .side ul {
    list-style: none;
    display: none;
}

.sidebar-container .side ul li {
    margin-left: 15px;
}

@media screen and (min-width:1300px) {
    .sidebar-container {
        position: sticky;
        overflow: hidden;
    }

    .sidebar-container.hidden {
        width: 65px;
        display: unset;
    }

    .sidebar-container.hidden .side-top .shop-name {
        display: none;
    }

    .sidebar-container.hidden .side .bottom .item i.right {
        display: none;
    }

    .sidebar-container.hidden .side .top {
        display: none;
    }

    .sidebar-container.hidden .side .bottom .item .text {
        display: none;
    }

    .sidebar-container .close-icon {
        display: none;
    }

    .sidebar-container.hidden .close-icon {
        display: none;
    }

    .sidebar-container.hidden .side-top .logo img {
        width: 45px;
        height: 45px;
    }

    .sidebar-container.hidden .side {
        padding: 0 15px;
        font-size: var(--font-size-1);
        min-width: unset;
    }

    .sidebar-container.hidden .side .item {
        margin: 10px 0;
        min-width: unset;
    }

    .sidebar-container.hidden .side .bottom {
        padding: 0;
    }
}

@media screen and (max-width: 470px) {
    .sidebar-container {
        width: 100%;
    }
}